<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Want to contact with me?</h2>
  <p>
    Please just send an email to me -- <a href="mailto:fabiushust@hotmail.com">fabiushust@hotmail.com</a>.
  </p>
  <h5>I'll add an messagebox in this page, but it's under construction still -- you know I am making bicycle so far but I'll accumulate components until get a car.</h5>
</div>